<div class="card">
    <div class="card-header border-0 pt-5">
        <div class="card-toolbar" *ngIf="canCreateEvents">
            <button class="btn btn-sm btn-primary" (click)="onCreateEventClick()">
                <i class="ki-duotone ki-plus fs-2"></i>
                Crear Evento
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading$ | async"></span>
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>