<!--begin::Logo-->
<app-sidebar-logo class="app-sidebar-logo px-6" id="kt_app_sidebar_logo"
  [toggleButtonClass]="toggleButtonClass" [toggleEnabled]="toggleEnabled" [toggleType]="toggleType"
  [toggleState]="toggleState" style="justify-content: center; align-items: center; text-align: center; background: rgb(226, 185, 231);  border: none;">
</app-sidebar-logo>

<app-sidebar-menu class="app-sidebar-menu overflow-hidden flex-column-fluid" style="background: linear-gradient(45deg, rgb(173, 221, 255), rgb(222, 176, 228)); border: none;">
</app-sidebar-menu>
    




