<!--begin::Form-->

<form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <h1 class="text-gray-900 fw-bolder mb-3">
      Iniciar sesión
    </h1>
    <!--begin::Subtitle-->
    <!-- <div class="text-gray-500 fw-semibold fs-6">
      Your Social Campaigns
    </div> -->
    <!--end::Subtitle--->
    <!-- <div class="text-gray-500 fw-bold fs-4">
      New Here?
      <a
        routerLink="/auth/registration"
        id="kt_login_signup"
        class="link-primary fw-bolder"
        >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
      >
    </div> -->
  </div>
  <!--end::Heading-->

  <!--begin::Login options-->
  <!-- <div class="row g-3 mb-9">
    <div class="col-md-6">
      <a href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
        <img alt="Logo" src="./assets/media/svg/brand-logos/google-icon.svg" class="h-15px me-3" />
        Sign in with Google
      </a>
    </div>

    <div class="col-md-6">
      <a href="#"
        class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
        <img alt="Logo" src="./assets/media/svg/brand-logos/apple-black.svg" class="theme-light-show h-15px me-3" />
        <img alt="Logo" src="./assets/media/svg/brand-logos/apple-black-dark.svg" class="theme-dark-show h-15px me-3" />
        Sign in with Apple
      </a>
    </div>
  </div> -->

  <!--begin::Separator-->
  <!-- <div class="separator separator-content my-14">
    <span class="w-125px text-gray-500 fw-semibold fs-7">Con correo electrónico</span>
  </div> -->
  <!--end::Separator-->

  <!-- begin::Alert info-->
  <ng-container *ngIf="!hasError">
    <div class="mb-10 rounded">
      <div class="text-info">
        <hr style="height: 12px; width: 500px; border: none; border-radius: 10px; background: linear-gradient(to right, #1258da, #de24aa);">
      </div>
    </div>
  </ng-container>
  <!-- end::Alert info-->


  <!-- begin::Alert error-->
   

  <ng-container *ngIf="hasError">
    <div  class="mb-10 rounded">
      
      <div class="error-box animate-fade">
        <div class="error-line"></div>
        <div class="error-message">
          Correo o contraseña incorrectos.
        </div>
        <div class="decor-line mt-4"></div>
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8" style="position: relative;">
    <label class="form-label fs-6 fw-bolder text-gray-900">Correo electrónico</label>

    <input
      class="form-control bg-transparent"
      type="email"
      name="email"
      placeholder="Ingresa tu correo"
      formControlName="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': (loginForm.controls['email'].touched || loginForm.controls['email'].dirty) 
                      && loginForm.controls['email'].invalid 
                      || hasError,
        'is-valid': loginForm.controls['email'].valid && !hasError
      }"

      style="padding-right: 2.5rem;"
    />



    <!-- Ícono tachita cuando hay error -->
    <div *ngIf="loginForm.controls['email'].invalid && hasError"
      style="position: absolute; right: 10px; top: 38px; color: red; font-size: 1.2rem;">
      ✖
    </div>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-3" style="position: relative;">
    <label class="form-label fw-bolder text-gray-900 fs-6 mb-0">Contraseña</label>

    <input
      class="form-control bg-transparent"
      type="password"
      name="password"
      placeholder="Ingresa tu contraseña"
      autocomplete="off"
      formControlName="password"
      [ngClass]="{
        'is-invalid': (loginForm.controls['password'].touched || loginForm.controls['password'].dirty) 
                      && loginForm.controls['password'].invalid 
                      || hasError,
        'is-valid': loginForm.controls['password'].valid && !hasError
      }"

      style="padding-right: 2.5rem;"
    />



    <!-- Ícono tachita cuando hay error -->
    <div *ngIf="loginForm.controls['password'].invalid && hasError"
      style="position: absolute; right: 10px; top: 38px; color: red; font-size: 1.2rem;">
      ✖
    </div>
  </div>
  <!--end::Form group-->


  <!--begin::Action-->
  <div class="d-grid mb-10">
    <button 
      type="submit" 
      id="kt_sign_in_submit" 
      class="btn" 
      [disabled]="loginForm.invalid"
      style=" background: linear-gradient(45deg, rgb(187, 222, 247), rgb(222, 176, 228)); border: none; color: #fff; font-weight: 600; padding: 0.6rem 1.5rem; border-radius: 8px; transition: all 0.3s ease;"
      onmouseover="this.style.background='linear-gradient(45deg, rgb(120, 180, 220), rgb(190, 120, 210))'; this.style.transform='scale(1.07)'; this.style.boxShadow='0 6px 14px rgba(0,0,0,0.25)';"
      onmouseout="this.style.background='linear-gradient(45deg, rgb(187, 222, 247), rgb(222, 176, 228))'; this.style.transform='scale(1)'; this.style.boxShadow='none';"
    >
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Espere por favor...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>

      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continuar</span>
      </ng-container>
    </button>


  </div>

  <!-- <div class="text-gray-500 text-center fw-semibold fs-6">
    ¿Aún no eres miembro?

    <a routerLink="/auth/registration" class="link-primary">
      Inscribirse
    </a>
  </div> -->

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
<style>
  .is-invalid {
    border: 3px solid #dc3545 !important;
    border-radius: 6px;
  }
  .is-valid {
    border: 3px solid #28a745 !important;
    border-radius: 6px;
  }
</style>