<!--begin::Exolore drawer-->
<div
  id="kt_help"
  class="bg-body"
  data-kt-drawer="true"
  data-kt-drawer-name="help"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'350px', 'md': '525px'}"
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#kt_help_toggle"
  data-kt-drawer-close="#kt_help_close">

  <!--begin::Card-->
  <!-- VIDEO DE FONDO -->
<div class="video-background">
  <video autoplay muted loop playsinline>
    <source src="assets/media/videos/fondo1.mp4" type="video/mp4">
  </video>
</div>

  <!--end::Card-->
</div>
<!--end::Exolore drawer-->

